@using System
@using System.Collections.Generic
@using System.Linq
@using KaUI.Exceptions

@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelMetadata
@{

    Type t = ViewData.ModelMetadata.ModelType;
    if (t.IsGenericType && t.GetGenericTypeDefinition() == typeof(Nullable<>))
    {
        t = t.GetGenericArguments().First();
    }
    var source = Enum.GetValues(t).Cast<Enum>().Where(e => !e.IgnoredInEditor()).ToList().Select(m => new { Id = m.GetHashCode(), Title = m.GetDisplay() });
    object value = Model.GetHashCode();
    foreach (var item in source)
    {
    <div>
        @if (item.Id == int.Parse(value.ToString()))
        {

            <input type="radio" name="@ViewData.ModelMetadata.PropertyName" value="@item.Id" checked="checked">

        }
        else
        {
            <input type="radio" name="@ViewData.ModelMetadata.PropertyName" value="@item.Id">

        }
    <label class="k-radio-label" for="@ViewData.ModelMetadata.PropertyName"> @item.Title</label>

    </div>
    }
}